* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center;
  min-height: 100vh;
}

.box1 {
  background: #FFFFFFB2;
  display: flex; 
  flex-direction: column;
  justify-content: center; 
  width: 1024px;
  height: 330px;
  margin: 40px;
  padding: 32px;
  border-radius: 16px;
  box-shadow: 0px 4px 16px 0px #0000001A;
  box-sizing: border-box;
}

h1 {
  color: rgba(0, 123, 255, 1);
  font-size: 60px;
  font-weight: 600;
  line-height: 72.61px;
  justify-content: center;
  text-align: center;
  cursor: none;
  margin: 10px;
}


.note-container {
  display: flex; 
  align-items: center; 
  width: 90%;
  max-width: 1024px;
  margin-bottom: 20px;
  padding: 10px;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
}


.note-bar {
  display: flex;
  position: relative;
  flex: 1; 
}

.note-bar input {
  flex: auto;
  padding: 10px;
  font-size: 18px;
  border-radius: 4px;
  outline: none;
  box-sizing: border-box;
}

.note-bar button {
  padding: 10px 20px;
  position: absolute;
  left: 765px;
  top: 4px;
  font-size: 14px;
  align-items: center;
  color: #fff;
  background: rgba(0, 123, 255, 1);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.level-selector {
  display: flex;
  align-items:center;
  margin: 10px;
}
p{
  font-family: inherit;
  padding: 7px 24px 0px 0px;
  font-size: 24px;
  padding-top: 5px;
  font-weight: bold;
  line-height: 0px;
  text-align: left;
  gap: 10px;
  
  }
.level-selector button {
  padding: 10px 20px; 
  border: 3px solid transparent;
  border-radius: 8px;
  background-color: #fff;
  color: #000;
  cursor: pointer;
  transition: all 0.25s;
}

.list_tag{
  font-size: 16px;
  gap: 10px;
  width: 292px;
  height: 41px;

}
button.DE {
  color:  #00FF00BF;
  border-color:  #00FF00BF;
}

button.BT {
  color: #ffc107;
  border-color: #ffc107;
}

button.KHO {
  color: #dc3545;
  border-color: #dc3545;
}

button:active.DE,
button.DE:focus{
  background-color:  #00FF00BF;
;
  border-radius: 8px;
  color: #fff;
}

button:active.BT,
button.BT:focus {
  background-color: #ffc107;
  border-radius: 8px;
  color: #fff;
}

button:active.KHO,
button.KHO:focus {
  background-color: #dc3545;
  border-radius: 8px;
  color: #fff;
}
.box2{
  display: flex;
  align-items: center;
  margin-left: 10px;
  margin-top: 10px;
  gap: 8px;
}
.text{
  font-weight: bold;
  font-size: 24px;
}
.level {
  position: relative;
  display: inline-block;
  border: 1px solid #007bff;
  border-color: #0d2212;
  border-radius: 50px;
  font-weight: 500;
  text-align: left; 
}


.toggle-level {
  display: none;
  cursor: pointer;

}
.level-btn {
  height: 32px;
  padding: 6px 8px;
  font-size: 14px; 
  gap:10px; 
 display: flex;
 flex-direction: row;
  align-items:center;
  cursor: pointer;
  color:  #007BFF;
}

.level-options {
  display: none;
  position: absolute;
  width: 127px;
  top: 100%; 
  background: rgba(255, 255, 255, 0.7);
  text-align: center;
  border: 1px solid #ccc; 
  border-radius: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
  transition: all 0.3s;
}


.level-options button {
  width: 106px;
  height: 50px;
  padding: 4px 4px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  background: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  text-align: center;
}
button.easy{
  color:#00FF00BF;

}
button.normal{
  color: #ffc107;
}
button.hard{
  color: #dc3545;
}
button:active.easy,
button.easy:focus{
  color: #fff;
  background-color: #00FF00BF;
  border-radius: 8px;
}

button:active.normal,
button.normal:focus{
  color: #fff;
  background-color: #ffc107;
  border-radius: 8px;
}

button:active.hard,
button.hard:focus{
  color: #fff;
  background-color: #dc3545;
  border-radius: 8px;
}

.level-options button.easy:hover {
  background-color: #00FF00BF;
  border-radius: 8px;
  color: #fff;

}
.level-options button.normal:hover {
  background-color: #ffc107;
  border-radius: 8px;
  color: #fff;
}

.level-options button.hard:hover {
  background-color: #dc3545;
  border-radius: 8px;
  color: #fff;
}

.toggle-level:checked + .level-btn + .level-options {
  display: block;
}


.tick {
  position: relative;
  display: inline-block;
  border: 1px solid #007bff;
  border-color: #0d2212;
  border-radius: 50px;
  font-weight: 500;
  text-align: center; 
}

.tick-btn {
  height: 32px;
  padding: 6px 8px;
  font-size: 14px;
  display:flex;
  flex-direction: row;
  align-items:center;
  cursor: pointer;
  color:  #007BFF;
  gap: 10px;
}


.toggle-tick {
  display: none;
}

.tick-options {
  width: 127px;
  position: absolute;
  top: 100%;
  display: none; 
  flex-direction: column;
  background-color: white;
  border: 1px solid #ccc; 
  border-radius: 8px;
  z-index: 1;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

 
.tick-options button {
  width: 106px;
  height: 50px;
  padding: 4px 10px;
  font-size: 16px;
  font-weight: bold;
  color: black;
  background: rgba(255, 255, 255, 0.7);
  border: none;
  text-align: center;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

button:active.danhdau,
button.danhdau:focus {
  background-color: #007BFF;
  color: #ffffff;
  border-radius: 8px;
}
button:active.no,
button.no:focus {
  background-color: #007BFF;
  color: #ffffff;
  border-radius: 8px;
}

.tick-options button:hover{
  background-color: #007BFF;
  color: #ffffff;
  border-radius: 8px;
}
.toggle-tick:checked + .tick-btn + .tick-options {
display: block;
}
.customs {
  position: relative;
  display: inline-block;
  border: 1px solid #007bff;
  border-color: #0d2212;
  border-radius: 50px;
  font-weight: 500;
  text-align: center; 
}

.customs-btn {
  height: 32px;
  padding: 6px 8px;
  font-size: 14px;
  display:flex;
  flex-direction: row;
  align-items:center;
  cursor: pointer;
  color:  #007BFF;
  gap: 10px;
}


.toggle-customs {
  display: none;
}

.customs-options {
  width: 127px;
  position: absolute;
  top: 100%;
  display: none; 
  flex-direction: column;
  background-color: white;
  border: 1px solid #ccc; 
  border-radius: 8px;
  z-index: 1;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

 
.customs-options button {
  width: 106px;
  height: 50px;
  padding: 4px 10px;
  font-size: 16px;
  font-weight: bold;
  color: black;
  background: rgba(255, 255, 255, 0.7);
  border: none;
  text-align: center;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

button:active.up,
button.up:focus {
  background: #000000BF;
  color: #ffffff;
  border-radius: 8px;
}
button:active.down,
button.down:focus {
  background: #000000BF;
  color: #ffffff;
  border-radius: 8px;
}
.customs-options button:hover{
  background: #000000BF;
  color: #ffffff;
  border-radius: 8px;
}

.toggle-customs:checked + .customs-btn + .customs-options {
display: block;
}

.container {
  background-color: #fff;
  padding: 20px;
  margin:  20px;
  border-radius: 8px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
  width: 1024px;
  height: 248px;
  
}

.note-list {
  width: 824px;
  height: 40px;
  border-radius: 8px;
  align-items: center;
  margin: auto;
}

.note-item {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.note-item .note-text {
  flex-grow: 1;
  font-size: 16px;
  margin-left: 20px;
}

.note-item .task-star {
  font-size: 24px;
  color: blue;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.note-item.DE {
  color: #00FF00BF;
}

.note-item.BT {
  color: #FFD700BF;
  
}

.note-item.KHO {
  color:  #FF0000BF;
  ;
}

.note-item.DE:hover{
  background-color: #00FF00BF;
;
  color: #fff;
}
.note-item.BT:hover {
  background-color: #ffc107;
  color: #fff;
}
.note-item.KHO:hover {
  background-color: #dc3545;
  color: #fff;
}
.task-star:hover {
  transform: scale(1.2);
  color: #007bff;
}
